<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="panel-title">Create artist</strong>
    <div class="clearfix "></div>
  </div>
  <%= render :partial => 'form' %>
</div>
