
<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="panel-title">Delete Song</strong>
    <div class="clearfix "></div>
  </div>
  <%= render :partial => 'delete_form' %>

</div>
