<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simfy Africa</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body id="page-top">
    <div class="navbar-wrapper">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img height="30px;"src="/images/simfy_africa_logo.png" alt="simfy_africa_logo"/>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="page-scroll" href="/">Home</a></li>
              <li><a class="page-scroll" href="/auth/sign_in"><i class="fa fa-sign-in"></i> Login</a></li>
              <li><a class="page-scroll" href="/auth/sign_up"><i class="fa fa-user-plus"></i> Register</a></li>
              <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <%= render 'layouts/slider' %>
    <section id="features" class="container services">
      <div class="row col-sm-12 container-section">
        <%= yield %>
      </div>
    </section>
    <section id="contact" class="gray-section contact">
      <div class="container">
        <div class="row m-b-lg">
          <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contact Us</h1>
            <p>Call us: 086 11 simfy (086 11 74639)</p>
            <p>Call Centre hours (Monday - Friday: 07h00 - 19h00, Saturday: 08h00 - 17h00).</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
            <p class="m-t-sm">
              Or follow us on social platform
            </p>
            <ul class="list-inline social-icon">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>© 2015 simfy africa test</strong><br> Office S6B Northlands Corner, cnr Witkoppen Road and New Market Street, North Riding.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
